.topimg{
  padding-top: 210px;
  width: 100%;
  float: left;
  }
  
 .heading{
  	margin-top: 220px;
  	margin-left: 20px;
  	background-color: #682511;
    font-family: 'IM Fell French Canon SC', serif;
  }
  
   .heading2{
  	margin-top: 80px;
  	margin-left: 0px;
  	background-color: #682511;
    font-family: 'IM Fell French Canon SC', serif;
  }
  
  
 .top-wrapper{
  background-color: #250f00;
  color: #fff;
  flex: 1;
  text-align: center;
  }
  
  i{
  color: #fff;
  padding: 50px;

  }
  
 .bio{
   font-size: 14px;	
   padding: 40px;
   margin: 30px 0;
 }
 
 .bio h4{
   font-family: 'IM Fell French Canon SC', serif;
  }
 
.border{
  border-top : solid 1px #E1B471;
  padding-left: 10px;
  margin-bottom: 80px;
}
   
 
 
  /*ポップアップここから*/
 



/*ポップアップここまで*/



